@using Models;
@using System.Text.Json;
@inject HttpClient _httpClient
@inject NavigationManager nav
@rendermode InteractiveServer

@page "/{Cnpj}/CARDAPIO/M{Comanda}"

@code {
    public MenuClient _client;

    public Menu menu { get; set; }
    [Parameter]
    public string Comanda { get; set; }
    [Parameter]
    public string Cnpj { get; set; }

    Company Store = new Company();

    public List<Product> Produtos { get; set; }

    public List<Product> ProductsInOrder = new List<Product>();
    public List<Order> OrdersInCheck = new List<Order>();
    public List<Category> Categories = new List<Category>();

    public double total;
    public double totalGeral;

    public async Task CarregarProdutosAsync()
    {
        Produtos = await GetProducts();
    }
    public async Task GetCategories()
    {
        Categories = await _client.GetCategories();
    }
    private void AddProductToOrder(Product produto)
    {
        ProductsInOrder.Add(produto);
    }

    private void CalculateTotalGeral()
    {
        totalGeral = OrdersInCheck.Sum(order => order.Value);
    }
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        _client = new MenuClient($"{Cnpj}");
        await CarregarProdutosAsync();
        Store = await GetCompanyFromCnpj(Cnpj);
        OrdersInCheck = await GetOrders();
        await GetCategories();


        @if (Store.Name != string.Empty)
        {
            menu = new Menu() { Company = Store};
        }
        else
        {
            menu = new Menu();
        }
        CalculateTotalGeral();

    }


    private void CloseOrder()
    {
        nav.NavigateTo($"Payment/{menu.Company.cnpj}/{Comanda}/Close");
    }

    private void RemoveProductFromOrder(Product product)
    {
        ProductsInOrder.Remove(product);
    }

}

@code{
    [SupplyParameterFromForm]
    public Order Order {get;set;}
}

<PageTitle>Home</PageTitle>

<div class="banner">
    <img src="@(menu.Company.Name.ToLower() == "mcdonalds" ? @"Images/McDonalds-Banner.png" : @"Images/BurgerKing-Banner.jpg")" alt="Restaurant Banner">
</div>

<h2 class="menu-title">@menu.Company.Name - Cardápio</h2>

<section id="menu" class="menu-section">
    <div class="product-category">
        <h3 class="category-title">Todos os Produtos</h3>
        <div class="product-list">
            @foreach (var item in Produtos)
            {
                <div class="product-card">
                    <img src="/Images/hamburguer1.png" alt="Product Image" class="product-image" />
                    <div class="product-details">
                        <h4 class="product-name">@item.Name</h4>
                        <p class="product-description">@item.Description</p>
                        <div class="product-bottom">
                            <span class="product-price">R$ @item.Value</span>
                            <button class="add-to-cart" @onclick="() => AddProductToOrder(item)">Adicionar</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @foreach (var category in Categories)
    {
        <div class="product-category">
            <h3 class="category-title">@category.Name</h3>
            <div class="product-list">
                @foreach (var item in Produtos)
                {
                    @if(item.Category.IdCategory == category.IdCategory)
                    {
                        <div class="product-card">
                            <img src="/Images/hamburguer1.png" alt="Product Image" class="product-image" />
                            <div class="product-details">
                                <h4 class="product-name">@item.Name</h4>
                                <p class="product-description">@item.Description</p>
                                <div class="product-bottom">
                                    <span class="product-price">R$ @item.Value</span>
                                    <button class="add-to-cart" @onclick="() => AddProductToOrder(item)">Adicionar</button>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
    @* <div class="product-category">
        <h3 class="category-title">Pratos do dia</h3>
        <div class="product-list">
            @foreach (var item in Produtos)
            {
                <div class="product-card">
                    <img src="/Images/hamburguer1.png" alt="Product Image" class="product-image" />
                    <div class="product-details">
                        <h4 class="product-name">@item.Name</h4>
                        <p class="product-description">@item.Description</p>
                        <div class="product-bottom">
                            <span class="product-price">R$ @item.Value</span>
                            <button class="add-to-cart" @onclick="() => AddProductToOrder(item)">Adicionar</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div> *@
</section>

<section id="cart" class="cart-section">
    <h3>Meu Carrinho</h3>
    <div class="cart-items">
        @if (ProductsInOrder.Any())
        {
            @foreach (var product in ProductsInOrder.ToList())
            {
                <div class="cart-item">
                    <span class="cart-item-name">@product.Name</span>
                    <span class="cart-item-price">R$ @product.Value</span>
                    <button class="remove-button" @onclick="() => RemoveProductFromOrder(product)">Remover</button>
                </div>
            }
            <h4 class="cart-total">Total: R$ @ProductsInOrder.Sum(p => p.Value)</h4>
            <button class="btn-submit-order" @onclick="() => SubmitOrder(ProductsInOrder)">Finalizar Pedido</button>
        }
        else
        {
            <p class="empty-cart">Seu carrinho está vazio.</p>
        }
    </div>
</section>

<section class="order-status-section">
    <h3>Status dos Pedidos</h3>
    @foreach (var order in OrdersInCheck)
    {
        <div class="order-status">
            <h4>Pedido: @order.Id</h4>
            <p class="status-text" style="color:@(order.Status == 1 ? "red" : (order.Status == 2 ? "yellow": "green"))">
                Status: @(order.Status == 1 ? "Enviado à cozinha" : (order.Status == 2 ? "Preparando" : "Pedido Pronto"))
            </p>
            <ul>
                @foreach (var product in order.Products)
                {
                    <li>@product.Name - R$ @product.Value</li>
                }
            </ul>
        </div>
    }
</section>

<section id="summary">
    <section id="order-summary" class="order-summary-section">
        <h3>Resumo dos Pedidos</h3>
        <div class="order-summary">
            <p>Total dos Pedidos Realizados:</p>
            <h4 class="order-total">R$ @totalGeral</h4>
        </div>
        <button class="btn-close-order" @onclick="CloseOrder">Fechar Comanda</button>
    </section>
</section>

@code{

    private async Task<Company> GetCompanyFromCnpj(string cnpj)
    {
        HttpResponseMessage response = _httpClient.GetAsync($"Company/{cnpj}").Result;
        var content = await response.Content.ReadAsStringAsync();
        var options = new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            };

            if(response.IsSuccessStatusCode)
            {
                return System.Text.Json.JsonSerializer.Deserialize<Company>(content, options);
            }
            return new Company();
            
    }

    private async Task SubmitOrder(List<Product> p)
    {
        try
        {
            double total = 0;
            foreach (var item in p)
            {
                total += item.Value;
            }

            Order order = new Order()
                {
                    Id = await GetOrderNumber(),
                    Products = p,
                    Date = System.DateTime.Now,
                    Store = new Company("McDonalds") { cnpj = Cnpj },
                    Table = new Table() { TableNumber = int.Parse(Comanda), Store = new Company("McDonalds") { cnpj = Cnpj } },
                    Value = total

                };

            string jsonBody = System.Text.Json.JsonSerializer.Serialize(order);
            HttpContent httpContent = new StringContent(jsonBody, System.Text.Encoding.UTF8, "application/json");

            HttpResponseMessage response = await _httpClient.PostAsync("Orders", httpContent);
            ProductsInOrder.Clear();
            nav.Refresh(true);



        }
        catch (Exception ex)
        {
            Console.WriteLine("Erro ao enviar pedido"+ex.Message);
        }
    }

    async Task<List<Product>> GetProducts()
    {
        HttpResponseMessage response = _httpClient.GetAsync("Products").Result;
        var content = await response.Content.ReadAsStringAsync();
        var options = new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            };

        List<Product> p = System.Text.Json.JsonSerializer.Deserialize<List<Product>>(content,options);



        return p;
    }



    async Task<int> GetOrderNumber()
    {
        HttpResponseMessage response = _httpClient.GetAsync("OrderNumber").Result;
        var content = await response.Content.ReadAsStringAsync();
        var options = new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            };

        int number = System.Text.Json.JsonSerializer.Deserialize<int>(content, options);



        return number;
    }

    public async Task<List<Order>> GetOrders()
    {
        HttpResponseMessage response = _httpClient.GetAsync("GetOrdersInTable").Result;
        var content = await response.Content.ReadAsStringAsync();
        var options = new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            };

        List<Order> o = System.Text.Json.JsonSerializer.Deserialize<List<Order>>(content, options);



        return o;
    }




}
