@page "/{Cnpj}/Product/{idProduct}/{TableNumber}"
@using System.Text.Json

@rendermode InteractiveServer
@inject IJSRuntime js



@code {
    [Parameter]
    public string Cnpj { get; set; } = null!;
    [Parameter]
    public string TableNumber { get; set; } = null!;
    [Parameter]
    public string idProduct { get; set; } = null!;
    List<Ingredient> ingredients = new List<Ingredient>();
    List<ItemCart> Cart = new List<ItemCart>();
    List<string> notes = new List<string>();
    int quantity = 1;
    Product selectedProduct;
    private bool _isFirstRender = true;

    public Table Table { get; set; }


    public async Task<Product> GetSelectedProduct(int id)
    {
        return await productClient.GetProductFromId(id);
    }
    private async Task GetSessionCart()
    {
        var cartJson = await SessionStorage.GetAsync<string>("cart");
        if (cartJson.Value != null)
        {
            Cart = System.Text.Json.JsonSerializer.Deserialize<List<ItemCart>>(cartJson.Value);
        }

    }
    private async Task AddProduct()
    {
        if (selectedProduct != null)
        {;
            Cart.Add(new ItemCart()
            {
                Product = selectedProduct,
                Store = new Company() { Cnpj = Cnpj },
                Table = new Table() { TableNumber = int.Parse(TableNumber) },
                Quantity = quantity,
                Notes = notes
            });
            await SessionStorage.SetAsync("cart", JsonSerializer.Serialize(Cart));
            nav.NavigateTo($"/{Cnpj}/CARDAPIO/M{TableNumber}");

        }
        else
        {
            Console.WriteLine("selectedProduct is null");
        }
    }

    private async Task AddNote(string note, bool isIngredient)
    {
        notes.Add(note);

    }
    private async Task RemoveNote(string note)
    {
        notes.Remove(note);
    }
    private async Task IncrementItem()
    {
        quantity++; StateHasChanged();
    }
    private async Task DecrementItem()
    {
        quantity--; StateHasChanged();
    }

    private void ChangeIngredient(string note, bool isChecked)
    {
        if (!isChecked)
        {
            notes.Add("Sem " + note+"\n");
        }
        else
        {
            notes.Remove("Sem " + note + "\n");
        }
    }
    protected override async Task OnInitializedAsync()
    {
        
        ingredientClient = new IngredientClient($"{Cnpj}");
        productClient = new ProductClient($"{Cnpj}");
        menuClient = new MenuClient($"{Cnpj}");
        

        ingredients = await ingredientClient.GetProductIngredients(int.Parse(idProduct), Cnpj);
        selectedProduct = await GetSelectedProduct(int.Parse(idProduct));
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetSessionCart();
            _isFirstRender = false;
            StateHasChanged();
        }
    }

   
}

<section>
    <img src="@selectedProduct.Image" alt="@selectedProduct.Name" />
    <h1>@selectedProduct.Name</h1>
    <p>@selectedProduct.Description</p>
    <p><strong>R$</strong> @selectedProduct.Value.ToString("F2")</p>
    <p> @selectedProduct.Category</p>
    <p> @selectedProduct.Kcal <strong> Kcal</strong></p>
</section>

<section id="ingredients">
    @foreach (var ingredient in ingredients)
    {
        <div class="ingredient">
            <input @onchange="(e) => ChangeIngredient(ingredient.Name, e.Value != null && (bool)e.Value)" type="checkbox" id="@ingredient.IdIngredient" name="@ingredient.Name" value="@ingredient.Name" checked>

            <label for="@ingredient.Name">@ingredient.Name</label>
        </div>
    }
</section>

<div style="display: flex; flex-direction:row">

    <button @onclick="DecrementItem">-</button>
    <input type="number" value="@quantity" />
    <button @onclick="IncrementItem">+</button>

</div>
<div>
    <button @onclick="AddProduct">Adicionar</button>
</div>


