@page "/"
@using Client
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>


@code {
    List<Order> orders = new List<Order>();
    SoftwareClient client = new SoftwareClient();

    protected override async Task OnInitializedAsync()
    {
        orders = await client.GetOrder();
    }

    public async Task CompleteOrder(Order order)
    {
        await client.CompleteOrder(order);
    }
}




<div class="title">
    <h1> PEDIDOS PENDENTES </h1>
</div>



@for (int i = 0; i < orders.Count; i++)
{

    <h1>Pedido #@orders[i].Id</h1>
    <h2> Mesa: @orders[i].Table.TableNumber</h2>
    <h2> Horário do pedido: @orders[i].Date</h2>
    <button  @onclick="()=>CompleteOrder(orders[i -1])"> Finalizar </button>

    @for (int c = 0; c < orders[i].Products.Count; c++)
    {
        <div class="container">

            <div class="item">

                <h2> Pedido: @orders[i].Products[c].Name </h2>


                <h2> Observações: @orders[i].Products[c].Description</h2>

                

                @*   <h2> Situação: @conv.Products</h2> *@
                <h3>--------------------------------------------------------------------------------</h3>


            </div>

        </div>
    }

    

}

@* <div class="container">

    <div class="item">
        <h2> Pedido: Fritas com batata</h2>
        <h2> Mesa: Nº 13</h2>
        <h2> Observações: Sem sal</h2>
        <h2> Situação: Em preparo</h2>
        <h2> Horário do pedido: 19:35</h2>
    </div>

</div>
 *@
